<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/phaser.min.js"></script>
    <script>

        var canvas_width = 800;
        var canvas_height = 800;
        var EMPTY = 0;
        var WHITE = 1;
        var BLACK = 2;

        function Box(color, sprite) {
            this.color = color;
            this.sprite = sprite;
            this.isEmpty = function () {
                return this.color === EMPTY;
            }
        }

        function Board(width, height) {
            this.width = width;
            this.height = height;
            this.boxes = [];
            for (var i = 0; i < width; i++) {
                this.boxes[i] = [];
                for (var j = 0; j < height; j++) {
                    this.boxes[i][j] = new Box(EMPTY, null)
                }
            }

            this.boxTocolor = function (game, x, y, color, animate) {
                var deltaX = game.width / this.width;
                var deltaY = game.height / this.height;
                var chip = game.add.sprite(-50, -50, 'chips');
                var destinationX = x * deltaX + deltaX / 2 - chip.width / 2;
                var destinationY = y * deltaY + deltaY / 2 - chip.height / 2;
                console.log(color);

                chip.frame = color;
                if (!this.boxes[x][y].isEmpty()) {
                    this.boxes[x][y].sprite.destroy();
                }
                if (animate != null) {
                    chip.width *= 4;
                    chip.height *= 4;
                    var chipMove = game.add.tween(chip);
                    var chipScale = game.add.tween(chip.scale);

                    chipMove.to({x: destinationX, y: destinationY}, 400, animate);
                    chipScale.to({x: 1, y: 1}, 200, animate, true);
                    chipMove.start();
                    chipScale.start();
                }
                chip.x = destinationX;
                chip.y = destinationY;
                this.boxes[x][y].sprite = chip;
            }
        }


        $(document).ready(function () {
            game = new Phaser.Game(canvas_width, canvas_height, Phaser.AUTO, 'gamearea', {
                preload: function () {
                    this.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
                    this.time.desiredFps = 48;
                    this.time.advancedTiming = true;
                    this.stage.disableVisibilityChange = true;
                    this.physics.startSystem(Phaser.Physics.ARCADE);
                    game.chips = game.load.spritesheet('chips', 'static/img/chips.png', 80, 80);
                    game.load.image('background', 'static/img/bg.png', 400,400);
                    game.Board = new Board(8, 8);
                    game.stage.backgroundColor = '#3357b2';
                },
                create: function () {
                    console.log("client started");
                    var background = game.add.tileSprite(0, 0, this.game.width, this.game.height, "background");
                    game.drawBoard();

                },
                init: function () {
                    console.log("client init");
                },
                update: function () {
                }
            });
            game.drawBoard = function () {
                var graphics = game.add.graphics(0, 0);
                var lineWidth = game.width / 300;
                graphics.lineStyle(lineWidth, 0xecedbd, 0.2);
                for (var i = 0; i < 9; i++) {
                    graphics.moveTo(i * game.height / 8, 0);
                    graphics.lineTo(i * game.height / 8, game.width);

                    graphics.moveTo(0, i * game.width / 8);
                    graphics.lineTo(game.height, i * game.width / 8);
                }
                graphics.endFill();
                for (var i = 0; i < 8; i++) {
                    for (var j = 0; j < 8; j++) {
                        game.Board.boxTocolor(game, i, j, EMPTY, Phaser.Easing.Sinusoidal.In);
                    }
                }
            };

            game.movement = function (x, y, color) {


            }
        });
    </script>
</head>
<body>
<div style="width:800px; height:800px; display:block; margin:auto" id="gamearea"></div>
</body>
</html>
