<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <!-- script src="/static/js/phaser.min.js"></script -->
    <!--script src="https://cdn.jsdelivr.net/phaser/2.6.1/phaser.min.js"></script-->
    <script src="/static/js/phaser-2.6.2/build/phaser.js"></script>
</head>
<body>
<div id="gameArea"></div>


<script>
    var ants = new Map();
</script>

<script>

    var canvas_width = window.innerWidth * window.devicePixelRatio;
    var canvas_height = window.innerHeight * window.devicePixelRatio;
    var conn = null;
    var lastUpdate = Date.now();
    var efectiveUpdatePeriod = 0;

    $(document).ready(function () {
        game = new Phaser.Game(canvas_width, canvas_height, Phaser.AUTO, 'gameArea');
        gameBootstrapper.init();
    });

    var gameProperties = {
        gameWidthMeters:{{.GameWidth}},
        gameHeightMeters:{{.GameHeight}},
        updateClientPeriod:{{.UpdateClientPeriod}},
        pixels2Meters:{{.PixelsToMeters}}
    };

    var zoomFactor = 0.8;
    var main = function (game) {
    };

    main.prototype = {
        preload: function () {

            game.scale.scaleMode = Phaser.ScaleManager.RESIZE;
            game.world.setBounds(0, 0, meters2Pixels(gameProperties.gameWidthMeters), meters2Pixels(gameProperties.gameHeightMeters), false, false, false, false);
            game.time.desiredFps = 48;
            game.time.advancedTiming = true
            game.stage.disableVisibilityChange = true;
            game.physics.startSystem(Phaser.Physics.ARCADE);
            game.load.image("background", "/static/img/bg1.png");
            game.load.image("cookie1", "/static/img/spinner1.png");
            game.load.image("cookie2", "/static/img/spinner2.png");
            game.load.image("cookie3", "/static/img/spinner3.png");
            game.load.image("firefox", "/static/img/firefox.png");
            game.load.script('filter1', '/static/js/phaser-2.6.2/filters/Gray.js');


            game.scale.compatibility.scrollTo = false;

        },
        //this function is fired once when we load the game
        create: function () {
            console.log("client started");
            createBackground(game);
            createCamera(game);


            conn = initWS();
            setInterval(function () {
                sendViewPort(game, conn)
            }, 100);
        },
        update: function () {
            updateCamera(game);
        }
    };

    function updateAnts(game) {

        ants.forEach(function (antInfo, key, map) {

            var ant = antInfo.ant;
            if (ant === null) {
                ant = game.add.sprite(antInfo.X, antInfo.Y, "firefox");
                ant.alpha = 0;
                //ant.tint = Math.random() * 0xffffff;
                ant.anchor.setTo(0.5, 0.5);
                ant.width = meters2Pixels(1.3 * 2 * Math.sqrt(antInfo.Score));
                ant.height = meters2Pixels(1.3 * 2 * Math.sqrt(antInfo.Score));
                ant.maxAngular = 100000;
                ant.angularDrag = 0;

                var filter = game.add.filter('Gray');
                filter.blur = 0.05*antInfo.Score;


                //ant.filters = [filter];


                game.add.tween(ant).to({alpha: 1}, 500, Phaser.Easing.None, true);

                game.physics.enable(ant, Phaser.Physics.ARCADE);
                ant.body.allowRotation = true;


                antInfo.ant = ant;
                map.set(key, antInfo);
            }
            if (antInfo.visible) {
                ant.body.moves = true;
                if (ant.visible) {
                    game.physics.arcade.moveToXY(ant, antInfo.X, antInfo.Y, 500, 1 * 1000 * gameProperties.updateClientPeriod);
                } else {
                    ant.x = antInfo.X;
                    ant.y = antInfo.Y;
                    ant.velocity = new Phaser.Point(0, 0);
                    ant.visible = true;
                }


                ant.body.angularVelocity = 10 * antInfo.AV;
                //console.log(ant.body.angularVelocity, 10 * antInfo.AV, ant.body.angularVelocity / 360)
            } else {
                ant.visible = false;
                ant.body.destroy();
                map.delete(key);
            }
        })
    }


    function createBackground(game) {
        var width = meters2Pixels(gameProperties.gameWidthMeters);
        var height = meters2Pixels(gameProperties.gameHeightMeters);
        bg = game.add.tileSprite(0, 0, width, height, 'background');
    }

    function createCamera(game) {

        var cameraFocusX = 100;
        var cameraFocusY = 200;

        game.world.scale.setTo(this.zoomFactor);
        game.camera.focusOnXY(cameraFocusX * game.world.scale.x, cameraFocusY * game.world.scale.y);

    }

    function updateCamera(game) {


        if (this.game.input.activePointer.isDown) {
            this.game.camera.y -= this.game.input.mouse.event.movementY;
            this.game.camera.x -= this.game.input.mouse.event.movementX;
        }

        if (this.zoomFactor > 0.2) {
            this.zoomFactor -= 0.001;
            game.world.scale.setTo(this.zoomFactor);
        }


        /*
                var distance2pointer = game.physics.arcade.distanceToPointer(pointer);
                if (distance2pointer > pointer.radius * 2) {
                    var speed = distance2pointer > meters2Pixels(400) ? meters2Pixels(400) : distance2pointer;
                    if (game.input.mousePointer.isDown) {
                        speed = meters2Pixels(500);
                    }
                    game.physics.arcade.moveToPointer(pointer, speed, game.input.activePointer);
                }
                */
    }


    function refreshAntsPosition(positions) {

        ants.forEach(function (ant) {
            ant.visible = false
        });

        positions.Ants.forEach(function (newPosition) {
            var ant = null;
            var previous = ants.get(newPosition.ID);
            if (previous) {
                ant = previous.ant;
            }
            ants.set(newPosition.ID, {
                ant: ant,
                Score: newPosition.SC,
                X: meters2Pixels(newPosition.X),
                Y: meters2Pixels(newPosition.Y),
                visible: true,
                AV: newPosition.AV * 180 / Math.PI
            });
        });
    }


    var gameBootstrapper = {
        init: function () {
            game.state.add('main', main);
            game.state.start('main');
        }
    };

    function initWS() {
        var socket = new WebSocket("ws://" + window.location.host + "/ws/");
        socket.onopen = function () {
            console.log("Socket is open");
            setInterval(function () {
                updateAnts(game);
            }, 1000 * gameProperties.updateClientPeriod);

        };
        socket.onmessage = function (e) {
            refreshAntsPosition(JSON.parse(e.data));

            var now = Date.now();
            efectiveUpdatePeriod = now - lastUpdate;
            lastUpdate = now;
        };
        socket.onclose = function () {
            console.log("Socket closed");
        };
        socket.onerror = function (e) {
            console.log("Got an error: " + e)
        };
        return socket;
    }

    function sendViewPort(game, conn) {
        cam = game.camera;
        zoom = 1.2;

        msg = {
            t: "v",
            d: {
                x: 0.95 * pixels2Meters(cam.x / game.world.scale.x),
                y: 0.95 * pixels2Meters(cam.y / game.world.scale.y),
                xx: 1.05 * pixels2Meters((cam.x + cam.width) / game.world.scale.x),
                yy: 1.05 * pixels2Meters((cam.y + cam.height) / game.world.scale.y),
            }
        };
        if (conn.readyState === conn.OPEN) {
            conn.send(JSON.stringify(msg))
        }
    }

    function meters2Pixels(meters) {
        return meters * gameProperties.pixels2Meters;
    }

    function pixels2Meters(pixels) {
        return pixels / gameProperties.pixels2Meters;
    }

</script>


</body>
</html>
