<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/node_modules/msgpack-lite/dist/msgpack.min.js"></script>
    <script src="/static/js/messages.js"></script>
    <script src="/static/js/transport.js"></script>
    <!-- script src="/static/js/phaser.min.js"></script -->
    <!--script src="https://cdn.jsdelivr.net/phaser/2.6.1/phaser.min.js"></script-->
    <script src="/static/js/phaser-2.6.2/build/phaser.js"></script>
    <script src="/static/js/node_modules/@orange-games/phaser-input/build/phaser-input.js"></script>
</head>
<body>


<script>
    var cookies = new Map();
</script>

<script>

    var canvas_width = window.innerWidth * window.devicePixelRatio;
    var canvas_height = window.innerHeight * window.devicePixelRatio;
    var lastUpdate = Date.now();
    var efectiveUpdatePeriod = 0;

    var gameProperties = {
        gameWidthMeters:{{.GameWidth}},
        gameHeightMeters:{{.GameHeight}},
        updateClientPeriod:{{.UpdateClientPeriod}},
        pixels2Meters:{{.PixelsToMeters}}
    };

    var zoomFactor = 0.8;

    $(document).ready(function () {
        game = new Phaser.Game(canvas_width, canvas_height, Phaser.AUTO, 'gameArea');
        game.state.add('logo', logo);
        game.state.add('load', load);
        game.state.add('menu', menu);
        game.state.add('main', main);
        game.state.start('logo');
    });

    var logo = function (game) {
    };
    logo.prototype = {
        preload: function () {
            game.load.image("logo-intro", "/static/img/intro.png");
            game.transport = new Transport("ws://" + window.location.host + "/ws/", new JSONMarshalUnmarshal());
            game.myCookie = null;
        },
        create: function () {
            game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
            this.scale.pageAlignHorizontally = true;
            game.scale.compatibility.scrollTo = false;
            game.time.desiredFps = 48;
            game.time.advancedTiming = true;
            game.stage.disableVisibilityChange = true;

            game.physics.startSystem(Phaser.Physics.ARCADE);
            this.state.start('load');
        }
    };


    var load = function (game) {
    };
    load.prototype = {
        preload: function () {
            this.splash = this.add.sprite(this.game.world.centerX, this.game.world.centerY, 'logo-intro');
            this.splash.anchor.setTo(0.5);

            game.load.image("background", "/static/img/bg1.png");
            game.load.image("cookie1", "/static/img/spinner1.png");
            game.load.image("cookie2", "/static/img/spinner2.png");
            game.load.image("cookie3", "/static/img/spinner3.png");
            game.load.image("firefox", "/static/img/firefox.png");
            game.load.image("login-button", "/static/img/button_play.png");
            game.load.script('filter1', '/static/js/phaser-2.6.2/filters/Gray.js');
            game.add.plugin(PhaserInput.Plugin);
        },
        create: function () {
            let newState = this.state;
            console.log("En el load");
            window.setTimeout(function () {
                newState.start('menu');
            }, 1000);
        }
    };

    var menu = function (game) {
    };
    menu.prototype = {
        preload: function () {
            game.canvas.id = 'canvas_game';
            $("#login-form").appendTo("#canvas_game");
        },
        create: function () {
            const login_width = 400;
            const login_height = 50;
            const button_width = 400;
            const button_height = 50;

            console.log("En el menu");

            bg = game.add.tileSprite(0, 0, this.game.width, this.game.height, 'background');
            bg.alpha = 0.7;
            bg.autoScroll(-10, -5);

            game.transport.registerCallback(
                    UserJoinResponseType,
                    function (msg) {
                        console.log(msg);
                        game.state.start('main');
                    }
            );

            var input = game.add.inputField((this.game.width - login_width) / 2, (this.game.height - login_height) / 2, {
                width: login_width,
                height: login_height,
                type: "text",
                borderWidth: 2,
                borderColor: "#FFFF00",
                borderRadius: 5,
                placeHolder: "Your name?",
                backgroundColor: "#FFFFAA",
                font: '42px Arial',
            });
            input.startFocus();

            button = game.add.button(
                    (this.game.width - login_width) / 2,
                    70 + (this.game.height - login_height) / 2,
                    'login-button',
                    function () {
                        if (input.value !== "") {
                            game.transport.send(new UserJoinRequest(input.value));
                        }
                    },
                    this,
                    2,
                    1,
                    0
            );

        }
    };

    var main = function (game) {
    };
    main.prototype = {
        preload: function () {
            game.world.setBounds(0, 0, meters2Pixels(gameProperties.gameWidthMeters), meters2Pixels(gameProperties.gameHeightMeters), false, false, false, false);
        },

        //this function is fired once when we load the game
        create: function () {
            console.log("En el main");
            var width = meters2Pixels(gameProperties.gameWidthMeters);
            var height = meters2Pixels(gameProperties.gameHeightMeters);
            bg = game.add.tileSprite(0, 0, width, height, 'background');
            bg.alpha = 0;
            game.add.tween(bg).to({alpha: 1}, 1000, Phaser.Easing.Linear.None, true);

            createCamera(game);

            game.transport.registerCallback(
                    CreateCookieResponseType,
                    function (msg) {
                        cookie = createCookie(game, msg.d.ID, msg.d.X, msg.d.Y, msg.d.SC, msg.d.AV);
                        game.myCookie = cookie;
                        game.camera.follow(cookie, Phaser.Camera.FOLLOW_LOCKON, 1, 1);

                    }
            );

            game.transport.registerCallback(
                    ViewPortResponseType,
                    function (msg) {
                        console.log(msg);
                        updateCookies(game, msg.C);
                    }
            );

            game.transport.send(new CreateCookieRequest());
        },
        update: function () {
            if (game.myCookie !== null) {
                updateCamera(game);
            }
        },
    };

    function createCookie(game, id, x, y, score, angularVelocity) {
        cookie = game.add.sprite(meters2Pixels(x), meters2Pixels(y), "firefox");
        cookie.custom = {};
        cookie.custom.id = id;
        cookie.custom.score = score;
        cookie.custom.type = "cookie";
        cookie.alpha = 0;
        cookie.anchor.setTo(0.5, 0.5);
        cookie.width = meters2Pixels(1.3 * 2 * Math.sqrt(score));
        cookie.height = meters2Pixels(1.3 * 2 * Math.sqrt(score));
        cookie.maxAngular = 100000;
        cookie.angularDrag = 0;
        cookie.visible = true;
        /*
        var filter = game.add.filter('Gray');
        filter.blur = 0.05 * msg.SC;
        //ant.filters = [filter];
        */
        game.add.tween(cookie).to({alpha: 1}, 500, Phaser.Easing.None, true);
        game.physics.enable(cookie, Phaser.Physics.ARCADE);
        cookie.body.allowRotation = true;
        cookie.body.angularVelocity = 10 * angularVelocity;

        return cookie;
    };


    function updateCookies(game, serverCookies) {

        // OrderedIDs contains all ids in serverCookies ordered from low to high
        var orderedIDs = function (cookies) {
            ids = [];
            cookies.forEach(function (el) {
                ids.push(el.ID)
            });
            return ids.sort(function (a, b) {
                return a - b;
            });
        }(serverCookies);


        // Positioning or removing known cookies
        game.world.forEach(function (cookie) {
            if (cookie.custom !== undefined && cookie.custom.type === "cookie") {
                // Not in list. We should disable
                if (orderedIDs.indexOf(cookie.custom.id) === -1 && cookie.custom.id !== game.myCookie.custom.id) {
                    cookie.visible = false;
                    //cookie.body.destroy();
                    console.log("removing cookie " + cookie.custom.id);
                    cookie.destroy();

                } else { // In list. We should update position
                    cookie.visible = true;
                    serverCookies.forEach(function (info) {
                        if (info.ID === cookie.custom.id) {
                            game.physics.arcade.moveToXY(cookie, meters2Pixels(info.X), meters2Pixels(info.Y), 50);
                            //game.camera.follow(cookie, Phaser.Camera.FOLLOW_LOCKON, 1, 1);
                            orderedIDs.splice(orderedIDs.indexOf(info.ID), 1);
                            console.log(orderedIDs);
                        }
                    });
                }
            }
        }, this, true);

        orderedIDs.forEach(function (id) {
            serverCookies.forEach(function (info) {
                if (info.ID === id) {
                    cookie = createCookie(game, id, info.X, info.Y, info.SC, info.AV);
                }
            })
        });


        /*

        game.world.forEach(function)


        cookies.forEach(function (antInfo, key, map) {



            var ant = antInfo.ant;
            if (ant === null) {
                ant = game.add.sprite(antInfo.X, antInfo.Y, "firefox");
                ant.alpha = 0;
                ant.anchor.setTo(0.5, 0.5);
                ant.width = meters2Pixels(1.3 * 2 * Math.sqrt(antInfo.Score));
                ant.height = meters2Pixels(1.3 * 2 * Math.sqrt(antInfo.Score));
                ant.maxAngular = 100000;
                ant.angularDrag = 0;

                var filter = game.add.filter('Gray');
                filter.blur = 0.05 * antInfo.Score;


                //ant.filters = [filter];


                game.add.tween(ant).to({alpha: 1}, 500, Phaser.Easing.None, true);

                game.physics.enable(ant, Phaser.Physics.ARCADE);
                ant.body.allowRotation = true;

                antInfo.ant = ant;
                map.set(key, antInfo);
            }
            if (antInfo.visible) {
                ant.body.moves = true;
                if (ant.visible) {
                    game.physics.arcade.moveToXY(ant, antInfo.X, antInfo.Y, 500, 1 * 1000 * gameProperties.updateClientPeriod);
                } else {
                    ant.x = antInfo.X;
                    ant.y = antInfo.Y;
                    ant.velocity = new Phaser.Point(0, 0);
                    ant.visible = true;
                }

                ant.body.angularVelocity = 10 * antInfo.AV;

            } else {
                ant.visible = false;
                ant.body.destroy();
                map.delete(key);
            }
        })
        */
    }

    function createCamera(game) {

        var cameraFocusX = 100;
        var cameraFocusY = 200;

        game.world.scale.setTo(this.zoomFactor);
        game.camera.focusOnXY(cameraFocusX * game.world.scale.x, cameraFocusY * game.world.scale.y);
    }

    function updateCamera(game) {

        var cam = game.camera;
        var cookie = game.myCookie;
        var angle = Math.atan2((game.input.worldY / game.world.scale.y - cookie.y), (game.input.worldX / game.world.scale.x - cookie.x));

        var msg = new ViewPortRequest(
                0.95 * pixels2Meters(cam.x / game.world.scale.x),
                0.95 * pixels2Meters(cam.y / game.world.scale.y),
                1.05 * pixels2Meters((cam.x + cam.width) / game.world.scale.x),
                1.05 * pixels2Meters((cam.y + cam.height) / game.world.scale.y),
                angle,
                this.game.input.activePointer.isDown
        );


        game.transport.send(msg);
    }


    function refreshAntsPosition(positions) {

        cookies.forEach(function (ant) {
            ant.visible = false
        });

        positions.Ants.forEach(function (newPosition) {
            var ant = null;
            var previous = cookies.get(newPosition.ID);
            if (previous) {
                ant = previous.ant;
            }
            cookies.set(newPosition.ID, {
                ant: ant,
                Score: newPosition.SC,
                X: meters2Pixels(newPosition.X),
                Y: meters2Pixels(newPosition.Y),
                visible: true,
                AV: newPosition.AV //* 180 / Math.PI
            });
        });
    }

    function meters2Pixels(meters) {
        return meters * gameProperties.pixels2Meters;
    }

    function pixels2Meters(pixels) {
        return pixels / gameProperties.pixels2Meters;
    }

</script>


</body>
</html>
